.bannerContainer {
  width: 97.5%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.bannerHeading {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

/* Medium screens */
@media (max-width: 992px) {
  .bannerHeading {
    font-size: 2.5rem;
  }

  .bannerContainer {
    height: 250px;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .bannerHeading {
    font-size: 2rem;
  }

  .bannerContainer {
    height: 220px;
    padding: 15px;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .bannerHeading {
    font-size: 1.5rem;
  }

  .bannerContainer {
    height: 180px;
    padding: 10px;
  }
}
