.Container {
  width: 97%;
  padding: 40px 20px;
  background-color: #f0f9ff; 
}

.maincontainer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}


 .leftcontainer {
  flex: 1 1 53%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


 .image {
  width: 100%;
  max-width: 700px;
  height: 650px;
  object-fit: cover; 
  /* border-radius: 10px; */
}




 .rightcontainer {
  flex: 1 1 42%;
}


.header {
  font-size: 50px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 30px;
}

.learnbtn {
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  border-radius: 4px;
  text-decoration: underline;
  font-size: 20px;
}

.learnbtn:hover {
  background-color: #007bff;
  color: #fff;
}

/* Tablet View */
@media (max-width: 992px) {
  .maincontainer {
    flex-direction: column;
    text-align: center;
  }

  .rightcontainer, .leftcontainer {
    flex: 1 1 100%;
  }

  .header {
    font-size: 2rem;
  }

  .text {
    font-size: 0.95rem;
  }
}

/* Mobile View */
@media (max-width: 576px) {
  .header {
    font-size: 1.7rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .learnbtn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .image {
    height: auto;
    max-height: none;
  }
}
