

.favicon-img {
  width: 200px;
  height: 50px;
  border-radius: 50%;   /* Makes it circular */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 10px 7px 10px red;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.favicon-img:hover {
  transform: scale(1.1);
}
